<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Pierre Belin - Ingénieur en développement informatique</title>

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <meta name="description"
          content="Ingénieur en développement informatique, je suis passionné par l'évènementiel, l'animation et le design. Apprenez-en plus sur moi grâce à ce site CV !"/>
    <meta name="keywords"
          content="pierre, belin, pierre belin, développeur C#, ingénieur informaticien, grenoble, ecole des mines d'alès, pierrebelin"/>

    <link rel="shortcut icon" href="favicon.ico"/>
    <link rel="icon" type="image/x-icon" href="favicon.ico"/>


    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=PT+Sans|PT+Sans+Caption:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Boogaloo" rel="stylesheet">

    <script src="https://use.fontawesome.com/180480a52c.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="./styles/index.less" rel="stylesheet/less" type="text/css"/>
    <script src="./extensions/jquery/jquery.min.js"></script>


    <!-- LESS FOR CLIENT -->
    <script src="extensions/less/less.js" type="text/javascript"></script>
</head>

<body id="top">
<!-- BACK TO TOP BUTTON -->
<a href="javascript:" id="return-to-top"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>

<nav>
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand nav-title" href="#top">Pierre BELIN</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                </ul>
                <ul class=" navbar-nav ">
                    <li class="nav-item"><a href="#about" class="nav-link">A Propos</a></li>
                    <li class="nav-item"><a href="#experience" class="nav-link">Expériences</a></li>
                    <li class="nav-item"><a href="#skills" class="nav-link">Compétences</a></li>
                    <li class="nav-item"><a href="#portfolio" class="nav-link">Portfolio</a></li>
                    <li class="nav-item"><a href="#contact" class="nav-link">Contact</a></li>
                </ul>
            </div>
        </nav>
    </div>
</nav>

<header>
    <div class="container-fluid">
        <div class="header-text">
            <h1>Pierre BELIN</h1>
            <h3>Ingénieur en développement informatique</h3>
            <h3>Adepte de web marketing et d'entrepreunariat</h3>
        </div>
        <div class="link-button row items-align-center">
            <div class="col-10 offset-1 col-md-4 offset-md-4">
                <a href="#about" class="header-button nav-link ">Partir à la découverte</a>
            </div>
        </div>
    </div>
</header>

<section class="about" id="about">
    <div class="container">
        <div class='row'>
            <h2 class="col-12">Bonjour et bienvenue, voici quelques phrases qui me résument très bien </h2>

            <div class="col-12">
                <img class="rounded-circle" src="./images/profile.JPG">
                <p>Je suis un jeune développeur informatique de 22 ans sur la région grenobloise. Je code principalement
                    en <strong>WPF .NET</strong> ainsi qu'avec le Framework <strong>Symfony</strong>.
                    <br>A mon temps libre, je crée des projets personnels afin de découvrir les outils du web actuel,
                    notamment <strong>avec WordPress, Analytics, Search Console</strong> ainsi que le <strong>SEO et
                        SEA</strong>.
                </p>
                <p>Mis à part l'informatique, je suis <strong>passionné par l'évènementiel et l'animation</strong>. J'ai
                    été bénévole dans plusieurs associations organisant des concerts de musiques électroniques
                    dépassant les 9 500 participants. Je passe même en ce moment mon BAFA pour partager ma joie de vivre
                    aux plus jeunes.
                </p>
                <p>
                    <strong>J'adore aussi le design</strong>. Je réalise des vidéos de motion design en 2D ainsi que des
                    sites webs pour exprimer librement ma créativité. Pour dire, je n'ai pas utilisé de template pour ce
                    site ☺
                </p>
            </div>
        </div>
    </div>
</section>

<section class="experience" id="experience">
    <div class="container">
        <h1>Expérience</h1>
        <div class="sub-experience">
            <h2>Carrière</h2>
            <div class="row">
                <div class="experience-title col-sm-4">
                    <h5>STMicroelectronics</h5>
                    <p><i class="fa fa-map-marker" aria-hidden="true"></i>Crolles, Isère</p>
                    <p><i class="fa fa-calendar-o" aria-hidden="true"></i><span class="experience-date">Sept. 2015 - Sept. 2018</span>
                    </p>
                    <p><i class="fa fa-link" aria-hidden="true"></i><a target="_blank"
                                                                       href="http://www.st.com/content/st_com/en.html">Site
                            web</a></p>
                </div>
                <div class="experience-description col-sm-8">
                    <h3>Développeur logiciel .NET</h3>
                    <p>Ingénieur en alternance pour réaliser des logiciels de contrôle qualité sur des plaques de
                        semi-conducteurs en technologie .NET.</p>
                    <p></p>
                    <p class="experience-notions">Notions clés : C#, WPF, AGILE, Relation client, Travail
                        collaboratif</p>
                </div>
            </div>
            <div class="row">
                <div class="experience-title col-sm-4">
                    <h5>STMicroelectronics</h5>
                    <p><i class="fa fa-map-marker" aria-hidden="true"></i>Grenoble, Isère</p>
                    <p><i class="fa fa-calendar-o" aria-hidden="true"></i><span class="experience-date">Avr. 2015 - Juin 2015</span>
                    </p>
                    <p><i class="fa fa-link" aria-hidden="true"></i><a target="_blank"
                                                                       href="http://www.st.com/content/st_com/en.html">Site
                            web</a></p>
                </div>
                <div class="experience-description col-sm-8">
                    <h3>Développeur web</h3>
                    <p>Stage de fin de DUT informatique de 10 semaines pour migrer une base de données locale en site
                        web.</p>
                    <p class="experience-notions">Notions clés : HTML5, CSS3, JavaScript, MySQL, JQuery, PHP</p>
                </div>
            </div>
            <div class="row">
                <div class="experience-title col-sm-4">
                    <h5>McDonald's</h5>
                    <p><i class="fa fa-map-marker" aria-hidden="true"></i>Grenoble, Isère</p>
                    <p><i class="fa fa-calendar-o" aria-hidden="true"></i><span class="experience-date">Juin 2014 - Avr. 2015</span>
                    </p>
                    <p><i class="fa fa-link" aria-hidden="true"></i><a target="_blank"
                                                                       href="https://www.restaurants.mcdonalds.fr/mcdonalds-grenoble-l-aigle">Site
                            web</a></p>
                </div>
                <div class="experience-description col-sm-8">
                    <h3>Équipier caisse</h3>
                    <p>Travail étudiant pour réaliser mon indépendace (dépenses personnelles,loyer...)</p>
                    <p>J'ai découvert toutes les facettes du métier du comptoir et du travail en équipe dans un
                        fast-food; de la vente à la préparation des commandes en passant par le nettoyage de la
                        salle.</p>
                    <p class="experience-notions">Notions clés : Travail d'équipe, Gestion du stress, Gestion de
                        l'imprévu</p>
                </div>
            </div>
        </div>
        <hr class="style9">
        <div>
            <h2>Éducation</h2>
            <div class="row">
                <div class="experience-title col-sm-4">
                    <h5>Pépite oZer entrepreunariat</h5>
                    <p><i class="fa fa-map-marker" aria-hidden="true"></i>Grenoble, Isère</p>
                    <p><i class="fa fa-calendar-o" aria-hidden="true"></i><span class="experience-date">Sept. 2017 - Juin. 2018</span>
                    </p>
                    <p><i class="fa fa-link" aria-hidden="true"></i><a target="_blank"
                                                                       href="http://www.ozer-entrepreneuriat.fr/">Site
                            web</a></p>
                </div>
                <div class="experience-description col-sm-8">
                    <h3>Étudiant entrepreneur</h3>
                    <p>Cours sur la création d'entreprise pour transformer le projet Le Blog Étudiant d'entreprise.</p>
                    <p class="experience-notions">Notions clés : Entrepreneuriat, Autodidacte</p>
                </div>
            </div>
            <div class="row">
                <div class="experience-title col-sm-4">
                    <h5>École des Mines d'Alès</h5>
                    <p><i class="fa fa-map-marker" aria-hidden="true"></i>Alès, Gard</p>
                    <p><i class="fa fa-calendar-o" aria-hidden="true"></i><span class="experience-date">Sept. 2015 - Sept. 2018</span>
                    </p>
                    <p><i class="fa fa-link" aria-hidden="true"></i><a target="_blank" href="http://mines-ales.fr/">Site
                            web</a></p>
                </div>
                <div class="experience-description col-sm-8">
                    <h3>Ingénieur informatique en alternance</h3>
                    <p>Maitrise et application des connaissances en informatique / ingénierie.
                        <br/>Immersion d'un mois en Angleterre pour approfondir ma maitrise de la langue.</p>
                    <p class="experience-notions">Notions clés : Gestion de projet, Symphony, Java, TOEIC</p>
                </div>
            </div>
            <div class="row row-no-margin">
                <div class="experience-title col-sm-4">
                    <h5>Université de Grenoble Alpes</h5>
                    <p><i class="fa fa-map-marker" aria-hidden="true"></i>Grenoble, Isère</p>
                    <p><i class="fa fa-calendar-o" aria-hidden="true"></i><span class="experience-date">Sept. 2013 - Sept. 2015</span>
                    </p>
                    <p><i class="fa fa-link" aria-hidden="true"></i><a target="_blank"
                                                                       href="http://www.univ-grenoble-alpes.fr/">Site
                            web</a></p>
                </div>
                <div class="experience-description col-sm-8">
                    <h3>DUT informatique</h3>
                    <p>Premier pas dans le monde de l'informatique.
                        <br/>J'ai acquis une large connaissance dans presque tous les domaines : web, programmation
                        procédurale/objet, réseau, architecture des ordinateurs, base de données, application
                        mobile... </p>
                    <p class="experience-notions">Notions clés : Ada, Java, Web, SQL, Android</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="quote">
    <div class="container">
        <blockquote class='row'>
            <div class="col-sm-3 text-center">
                <img class="rounded-circle" src="./images/picture_quote_1.jpg">
            </div>
            <div class="col-sm-9">
                <p>It's been a pleasure having a student like Pierre in class and part of my students' network. He's
                    dedicated, attentive, professional, has a knack for communicating with people and has been extremely
                    helpful in advising other students find internships, jobs, meeting the right people but also
                    coaching them during my regular IT Meetups for students. Having Pierre as part of their team would
                    undoubtedly be an asset for any company.</p>
                <small>→ Sonia Rannou, teacher at University Grenoble Alpes</small>
            </div>
        </blockquote>
    </div>
</section>

<section class="skills" id="skills">
    <div class="container">
        <h1>Compétences</h1>
        <div class="skills-scale">
            <div class="row">
                <p class="col-12">Les étoiles représentent un ordre d'idée et sont notées sur 5
                    <br/>1 étant un niveau novice et 5 un niveau d'expert.</p>
            </div>
        </div>
        <div class="row">
            <div class="offset-lg-2 col-lg-8">
                <div>
                    <h2>Web</h2>
                    <div class="row">
                        <div class="col-sm-3">
                            <p>WordPress</p>
                        </div>
                        <div class="col-sm-3">
                            <p>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half" aria-hidden="true"></i>
                            </p>
                        </div>
                        <div class="col-sm-3">
                            <p>Référencement</p>
                        </div>
                        <div class="col-sm-3">
                            <p>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </p>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-sm-3">
                            <p>Data analysis</p>
                        </div>
                        <div class="col-sm-3">
                            <p>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half" aria-hidden="true"></i>
                            </p>
                        </div>
                        <div class="col-sm-3">
                            <p>Prestashop</p>
                        </div>
                        <div class="col-sm-3">
                            <p>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half" aria-hidden="true"></i>
                            </p>
                        </div>
                    </div>
                </div>
                <hr class="style9">
                <div class="skills-code">
                    <h2>Développement informatique</h2>
                    <div class="row">
                        <div class="col-sm-3">
                            <p>C#</p>
                        </div>
                        <div class="col-sm-3">
                            <p>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </p>
                        </div>
                        <div class="col-sm-3">
                            <p>WPF</p>
                        </div>
                        <div class="col-sm-3">
                            <p>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half" aria-hidden="true"></i>
                            </p>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-sm-3">
                            <p>Symfony</p>
                        </div>
                        <div class="col-sm-3">
                            <p>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half" aria-hidden="true"></i>
                            </p>
                        </div>
                        <div class="col-sm-3">
                            <p>SGBDD</p>
                        </div>
                        <div class="col-sm-3">
                            <p>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half" aria-hidden="true"></i>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <p>Mobile</p>
                        </div>
                        <div class="col-sm-3">
                            <p>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </p>
                        </div>
                        <div class="col-sm-3">
                            <p>JavaScript</p>
                        </div>
                        <div class="col-sm-3">
                            <p>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half" aria-hidden="true"></i>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <p>Big data</p>
                        </div>
                        <div class="col-sm-3">
                            <p>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half" aria-hidden="true"></i>
                            </p>
                        </div>
                    </div>
                </div>
                <hr class="style9">
                <div class="skills-manager">
                    <h2>Transverse</h2>
                    <div class="row ">
                        <div class="col-sm-3">
                            <p>Travail en équipe</p>
                        </div>
                        <div class="col-sm-3">
                            <p>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half" aria-hidden="true"></i>
                            </p>
                        </div>
                        <div class="col-sm-3">
                            <p>Communication</p>
                        </div>
                        <div class="col-sm-3">
                            <p>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half" aria-hidden="true"></i>
                            </p>
                        </div>
                    </div>
                    <div class="row ">

                        <div class="col-sm-3">
                            <p>Gestion de projet</p>
                        </div>
                        <div class="col-sm-3">
                            <p>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </p>
                        </div>
                        <div class="col-sm-3">
                            <p>Méthode AGILE</p>
                        </div>
                        <div class="col-sm-3">
                            <p>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </p>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-sm-3">
                            <p>Relation client</p>
                        </div>
                        <div class="col-sm-3">
                            <p>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </p>
                        </div>
                    </div>
                </div>
                <hr class="style9">
                <div class="skills-language">
                    <h2>Langues</h2>
                    <div class="row ">
                        <div class="col-sm-3">
                            <p>Français</p>
                        </div>
                        <div class="col-sm-3">
                            <p>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </p>
                        </div>
                        <div class="col-sm-3">
                            <p>Anglais</p>
                        </div>
                        <div class="col-sm-3">
                            <p>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </p>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-sm-3">
                            <p>Italien</p>
                        </div>
                        <div class="col-sm-3">
                            <p>
                                <i class="fa test fa-star" aria-hidden="true"></i>
                            </p>
                        </div>
                    </div>
                </div>
                <hr class="style9">
                <div class="skills-software">
                    <h2>Logiciels</h2>
                    <div class="row ">
                        <div class="col-sm-3">
                            <p>Microsoft Office</p>
                        </div>
                        <div class="col-sm-3">
                            <p>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </p>
                        </div>
                        <div class="col-sm-3">
                            <p>Sony Vegas</p>
                        </div>
                        <div class="col-sm-3">
                            <p>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half" aria-hidden="true"></i>
                            </p>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-sm-3">
                            <p>After Effects</p>
                        </div>
                        <div class="col-sm-3">
                            <p>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </p>
                        </div>
                        <div class="col-sm-3">
                            <p>Photoshop</p>
                        </div>
                        <div class="col-sm-3">
                            <p>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half" aria-hidden="true"></i>
                            </p>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-sm-3">
                            <p>Illustrator</p>
                        </div>
                        <div class="col-sm-3">
                            <p>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </p>
                        </div>
                    </div>
                </div>
                <hr class="style9">
                <div class="skills-others">
                    <h2>Et quoi d'autres ?</h2>
                    <div class="row ">
                        <div class="col-sm-12">
                            <p>Je possède mon <strong>permis de conduite ainsi qu'une voiture</strong> pour me permettre
                                de me rendre partout sur le territoire.</p>
                            <p>Mon niveau d'anglais est certifié par le <strong>diplôme du TOEIC</strong> avec un score
                                de 860 points.</p>
                            <p>Je lis quotidiennement des <strong>ouvrages sur le développement personnel</strong>.
                                C'est étonnant tout ce que l'on peut apprendre en pensant différemment. Je vous donne
                                quelques noms qui m'ont notamment marqué :
                            <ul>
                                <li>
                                    <span class="title">"Tout le monde n'a pas eu la chance de rater ses études"</span><span
                                            class="author"> - Olivier Roland</span></li>
                                <li><span class="title">"La semaine de 4 heures"</span><span class="author"> - Timothy Feriss</span>
                                </li>
                                <li><span class="title">"The Magic of Thinking Big"</span><span class="author"> - David J. Schwartz</span>
                                </li>
                                <li><span class="title">"L'art d'aller à l'essentiel"</span><span class="author"> - Léo Babauta</span>
                                </li>
                            </ul>
                            <p>Pour finir, je <strong>pratique la méditation</strong> chaque jour. Elle me permet de
                                prendre conscience de mon corps, de mes émotions et de me relaxer.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="link-download col-12">
                <a href=".\files\Pierre_BELIN_CV.pdf" class="header-button" download="Pierre_BELIN_CV.pdf">Télécharger
                    mon CV classique en version PDF</a>
            </div>
        </div>
    </div>
</section>


<section class="portfolio" id="portfolio">
    <div class="container">
        <h1>Portfolio </h1>
        <div class="row">
            <div class="col-lg-6">
                <div class="view view-tenth">
                    <img class="img-thumbnail img-fluid" src="./images/portfolio-blog-etudiant.png"/>
                    <div class="mask">
                        <h2>Le Blog Étudiant</h2>
                        <p>Site permettant aux étudiants de connaître les aides et avantages auxquels ils ont accès.</p>
                        <a href="https://www.le-blog-etudiant.fr" target="_blank"><i class="fa fa-search"
                                                                                     aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="view view-tenth">
                    <img class="img-thumbnail img-fluid" src="./images/portfolio-colors-shades.png"/>
                    <div class="mask">
                        <h2>Colors Shades</h2>
                        <p>Défi autonome de réaliser à 3 étudiants un site de choix de couleurs en moins de 8h en
                            Javascript.</p>
                        <a href="https://colors-shades.pierrebelin.fr" target="_blank"><i class="fa fa-search"
                                                                                          aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 offset-0 offset-lg-3 col-lg-6">
                <div class="view view-tenth">
                    <img class="img-thumbnail" src="./images/portfolio-boutique-lol.png"/>
                    <div class="mask">
                        <h2>Boutique LoL</h2>
                        <p>Site de centralisation des meilleurs produits dérivés du jeu vidéo League of Legends.</p>
                        <a href="https://www.le-blog-etudiant.fr" target="_blank"><i class="fa fa-search"
                                                                                     aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <hr class="style9">
        <div class="row center">
            <div class="col-sm-12">
                <p>Pour mes réalisations de motion design, je vous laisse vous diriger vers profil Viméo</p>
                <div class="link-website">
                    <a href="https://vimeo.com/pierrebelin" class="header-button" target="_blank">Voir mes
                        réalisations</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contact" id="contact">
    <div class="container">
        <h1>Contact</h1>
        <div class="row">
            <div class="offset-sm-3 col-sm-6">
                <div class="row">
                    <div>
                        <p>Vous avez un projet à me proposer ? Ou simplement discuter ?</p>
                        <p>Envoyez moi un mail pour que l'on puisse en discuter par téléphone ou autour d'un café !
                            Surtout, n'hésitez pas :)</p>
                    </div>
                </div>
                <div class="contact-icons contact-mail">
                    <p><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:contact@pierrebelin.fr">contact@pierrebelin.fr</a>
                    </p>
                </div>
                <div class="contact-network">
                    <div class="row">
                        <div>
                            <p>Vous pouvez aussi jeter un coup d'oeil de mes travaux sur ces plateformes</p>
                            <div class="contact-icons">
                                <p><i class="fa fa-linkedin" aria-hidden="true"></i><a
                                            href="https://www.linkedin.com/in/pierre-belin/"
                                            target="_blank">LinkedIn</a></p>
                                <p><i class="fa fa-gitlab" aria-hidden="true"></i><a
                                            href="https://gitlab.com/pierre.belin" target="_blank">GitLab</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <p>Réalisé par Pierre Belin &middot; Tous droits réservés &copy; 2016 -
            <script>document.write(new Date().getFullYear())</script>
        </p>
        <small>HTML5 &middot; CSS3 &middot; JavaScript &middot; PHP &middot; JQuery</small>
    </div>
</footer>

<div class="modal fade" data-modal-color="green" id="thanks_modal" data-backdrop="static" data-keyboard="false"
     tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Votre mail a été envoyé !</h4>
            </div>
            <div class="modal-body">
                <p>Merci pour votre mail.</p>
                <p>Je vous répondrai dès que je verrai votre message !
                    <br>
                    Ne m'en voulez vous si ça prend un peu de temps, il se peut que je sois occupé sur un projet :)
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" data-modal-color="red" id="error_modal" data-backdrop="static" data-keyboard="false"
     tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Erreur lors de l'envoi de votre mail</h4>
            </div>
            <div class="modal-body">
                <p>Désolé, mais votre mail n'a pas été envoyé.</p>
                <p>Je m'excuse du dérangement occasionné, et je vous invite à me contacter avec l'adresse mail suivante
                    : contact@pierrebelin.fr
                    <br>
                    Si possible, n'hésitez pas à me reporter le bug pour que je puisse le corriger :)
                </p>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="./js/index.js" type="text/javascript"></script>
<script src="https://code.jquery.com/jquery-3.1.0.js" type="text/javascript"></script>



</body>
</html>
