// FONTS
@font-main: 'Nexa', sans-serif;
@font-main-second: 'PT Sans', sans-serif;
@font-title: 'Boogaloo', sans-serif;

//@font-face {
//  font-family: Nexa;
//  src: url(../fonts/Nexa Light.otf);
//  font-weight: bold;
//}

// COLORS
@main-color: #1abc9c;
@main-color-darker: #16a085;
@color-success: #2ecc71;
@color-error: #e74c3c;

@footer-background: #263248;
@nav-background: @main-color;
@quote-background: #ecf0f1;
@skills-background: #263248;
@portfolio-background: #ecf0f1;
@about-background: @main-color;

@footer-color: white;


// BODY
body {
  //background-color: @background-color;
  font-family: 'Raleway', 'PT Sans', @font-main;
  font-size: 16px;
  a {
    .transition-color;
    &:hover, &:active, &:focus {
      text-decoration: none;
      color: @main-color;
    }
  }
  h1 {
    text-align: center;
    //font-weight: bold;
    margin-top: 0;
  }
  // br {
  //   display: block;
  //   margin-top: 10px;
  // }
  label {
    text-align: right;
  }
  textarea.form-control {
    resize: vertical;
    height: 300px;
  }
  button {
    background-color: @about-background;
    &:hover, &:active, &:focus {
      background-color: @main-color-darker;
    }
  }
  form {
    margin-top: 20px;
  }
  .btn:hover {
    color: white;
  }

  min-height: 100%;

}

.transition-color {
  transition: all 0.5s ease; /* vendorless fallback */
  -o-transition: all 0.5s ease; /* opera */
  -ms-transition: all 0.5s ease; /* IE 10 */
  -moz-transition: all 0.5 ease; /* Firefox */
  -webkit-transition: all 0.5s ease; /*safari and chrome */
}
// NAVs
nav {
  position:relative;
  text-transform: uppercase;
  font-size: 16px;
  background-color: @nav-background;
  box-shadow: 0px 2px 10px 0px @nav-background;


  .nav-title {
    font-size: 26px;
    font-weight: bold;
    font-family: @font-title;
    color: white;
    &:hover, &:active, &:focus {
      color: white;
    }
  }
  li {
    padding: 12px 0;
    &:hover, &:active, &:focus {
      background-color: #16a085;
    }
    .transition-color;
  }
  .nav-item > a {
    color: white;
    &:hover, &:active, &:focus {
      color: white;
      background-color: transparent;
    }
  }
  .nav-item {
    padding: 20px 10px;
  }
}

.navbar {
  padding: 0;
}

@media (max-width: 768px) {
  .nav-title {
    margin-top: 10px;
  }
  i {
    color: white;
  }
  .header-text {
    //margin-top: 80px;
  }
  .link-button {
    display: none;
  }
}

.header-button {
  padding: 15px 25px;
  border-radius: 10px;
  background-color: white;
  color: black;
}

html, body, #fullheight {
  min-height: 100% !important;
  height: 100%;
}

header {
  background-image: url('../images/header-background');
  background-repeat:no-repeat;
  background-position:center center;
  background-attachment:fixed;
  background-size: cover;
  color: white;
  height: calc(~"100% - 74px");
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 70px;
    margin-bottom: 50px;
    font-family: @font-main-second;
  }
  h3 {
    font-size: 22px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: @font-main-second;
  }
  .link-button {
    margin-top: 120px;
  }
}


section {
  line-height: 200%;
  .progress {
    padding: 0px;
  }
  h1 {
    font-family: @font-title;
    font-size: 50px;
    padding-bottom: 40px;
  }
  padding: 55px 0;
}

.about {
  line-height: 240%;
  box-shadow: @about-background 0px 0px 11px -2px;
  background-color: @about-background;
  text-align: justify;
  color: white;
  h2 {
    font-family: @font-title;
    font-size: 40px;
    margin-bottom: 30px;
    margin-top: 10px;
  }
  img {
    overflow: hidden;
    width: 250px;
    height: 250px;
    -moz-box-shadow: -2px 2px 5px #343434;
    -webkit-box-shadow: -2px 2px 5px #343434;
    -o-box-shadow: -2px 2px 5px #343434;
    box-shadow: -2px 2px 5px #343434;
    display: block;
    margin: 15px 40px 15px 0;
    transform: rotate(270deg);
    float: left;
  }
}

.fa-star, .fa-star-half {
  color: @main-color;
}

.design-list {
  ul {
    padding-left: 0;
  }
  li {
    list-style-type: none;
    padding-left: 50px;
  }
  li:before {
    content: "→ "; /* caractère UTF-8 */
  }
}

.experience {
  .design-list;
  .row {
    margin-bottom: 25px;
  }
  .row-no-margin {
    margin-bottom: 0px;
  }
  i {
    margin-right: 25px;
    width: 15px;
    text-align: center;
  }
  h1, h3 {
    color: @main-color;
  }
  h3 {
    margin-bottom: 15px;
  }
  h2 {
    margin-top: 0;
    margin-bottom: 30px;
  }
  h4 {
    margin: 0;
    margin-top: 20px;
  }
  .experience-title {
    p {
      margin: 0;
    }
    .experience-date {
      color: grey;
      font-size: 13px;
    }
    a {
      font-size: 13px;
    }
  }
  .experience-description {
    text-align: justify;
    .experience-notions {
      font-style: italic;
      color: grey;
      font-size: 13px;
    }
  }
}

@media (max-width: 768px) {
  .skills p {
    text-align: center;
  }
  nav {
    text-align: center;
  }
}

.skills {
  .title {
    font-style: italic;
  }
  .skills-others{
    text-align: justify;
  }
  .author {
    padding-left: 5px;
    color: @main-color;
  }
  background-color: @skills-background;
  color: white;
  .design-list;
  h2 {
    margin-top: 0px;
    margin-bottom: 30px;
  }
  .link-download {
    margin-top: 60px;
    margin-bottom: 20px;
    text-align: center;
  }
  .skills-scale {
    margin-bottom: 50px;
    text-align: center;
  }
}

.portfolio {
  background-color: @portfolio-background;
  h1 {
    color: @main-color;
  }
  .center {
    text-align: center;
  }
  .link-website {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .portfolio_images_overlay {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
  }
  .single_portfolio_text {
    &:hover {
      .portfolio_images_overlay {
        visibility: visible;
      }
    }
  }
  .header-button {
    max-width: 180px;
    background-color: @main-color;
    color: white;
    &:hover, &:active, &:focus {
      background-color: @main-color-darker;
    }
  }
}


.quote {
  background-color: @quote-background;
  blockquote {
    border-left: none;
    margin: 0;
  }

  blockquote img {
    margin-bottom: 30px;
    width: 200px;
    height: 200px;
    -moz-box-shadow: 0px 0px 10px #343434;
    -webkit-box-shadow: 0px 0px 10px #343434;
    -o-box-shadow: 0px 0px 10px #343434;
    box-shadow: 0px 0px 10px #343434;
  }

  blockquote:not(:first-child) {
    margin-top: 20px;
  }
  blockquote p:before {
    font-family: 'PT Sans Caption', sans-serif;
    content: "\201C";
    font-size: 100px;
    float: left;
    margin-right: 20px;
    margin-top: 25px;
  }
  small {
    color: @about-background;
    font-style: italic;
    font-size: 16px;
  }
  blockquote p {
    text-align: justify;
  }
}
.contact {
  background-image: url('../images/contact-background');
  background-repeat:no-repeat;
  background-position:center center;
  background-attachment:fixed;
  background-size: cover;
  text-align: center;
  color: white;
  .form-group {
    padding: 5px 0;
  }
  .contact-network {
    text-align: center;
    //margin-top: 50px;
  }
  .contact-icons {
    margin-top: 20px;
  }
  .contact-mail {
    margin-bottom: 20px;
  }
  i {
    color: @main-color;
    margin-right: 10px;
  }
  a {
    color: white;
  }
}


footer {
  color: @footer-color;
  background-color: @footer-background;
  padding: 40px 0 30px 0;
  box-shadow: @footer-background 0px 0px 11px -2px;
  text-align: center;
}


// MODAL OKAY
.modal[data-modal-color="green"] .modal-content {
  background: @color-success;
}

.modal[data-modal-color="red"] .modal-content {
  background: @color-error;
  color: white;
}


.modal {
  padding: 0 !important;
  p, h4 {
    text-align: center;
  }
}

.modal-open .modal[style]:not([style='display: none;']) {
  display: flex !important;
  height: 100%;
}

.modal-open .modal[style]:not([style='display: none;']) .modal-dialog {
  margin: auto;
}


// SCROLL TO TOP

// BUTTON TO TOP
#return-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background: #95a5a6;
  width: 50px;
  height: 50px;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;

  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top i {
  color: white;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#return-to-top:hover {
  background: #7f8c8d;
}

#return-to-top:hover i {
  top: 6px;
}

hr.style9 {
  border-top: 1px dashed #8c8b8b;
  border-bottom: 1px dashed #fff;
  margin-bottom: 50px;
  margin-top: 40px;
}




// PORTFOLIO HOVER IMG

.view p {
  font-style: italic;
  font-size: 14px;
  position: relative;
  color: #fff;
  padding: 10px 20px 10px;
  text-align: center;
}

.view-tenth p {
  color: #333;
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.view {
  color: black;
  z-index: 9;
  cursor: default;
  overflow: hidden;
  text-align: center;
  position: relative;
  margin-bottom: 30px;
  box-shadow: 0 0 3px #ddd;
}

.view .mask, .view .content {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.view img {
  display: block;
  position: relative;
}

.view-tenth img {
  left: 10px;
  margin-left: -10px;
  position: relative;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.view-tenth:hover > img {
  -webkit-transform: scale(2) rotate(10deg);
  transform: scale(2) rotate(10deg);
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  opacity: 0.3;
}

.view h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 22px;
  padding: 10px;
  margin: 20px 0 0 0;
}

.view-tenth h2 {
  margin: 20px 40px 0;
  background: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
}

.view a {
  background: @main-color;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  width: 50px;
  height: 50px;
  display: inline-block;
  overflow: hidden;
  &:hover, &:focus, &:active {
    background-color: @main-color-darker;
  }
}

.view i {
  color: white;
  margin: 0;
  position: relative;
  top: 10px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.view-tenth a {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: all 0.5s linear;
}

.view-tenth:hover h2,
.view-tenth:hover p,
.view-tenth:hover a {
  -webkit-transform: scale(1);
  transform: scale(1);
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}
